<section class="root-el">

</section>

<script type="text/template" id='start-date-input'>
  <label>Rental Start <br>
  <%= datetime_select(:query, :start_date,
                      discard_year: true,
                      discard_hour: true,
                      prompt: {month: "Start Date", day: ""}) %>
  </label>
</script>

<script type="text/template" id='end-date-input'>
  <label>Rental End <br>
  <%= datetime_select(:query, :end_date,
                      discard_year: true,
                      discard_hour: true,
                      prompt: { month: "End Date", day: "" }) %>
  </label>
</script>

<script type="text/template" id="request-form">
  <label>Rental Start <br>
  <%= datetime_select(:request, :start, discard_year: true, ampm: true,
                      prompt: true) %>
  </label>

  <br><br>

  <label>Rental End <br>
  <%= datetime_select(:request, :end, discard_year: true, ampm: true,
                      prompt: true) %>
  </label>
</script>

<script charset="utf-8">
  $(document).ready(function(){
    VillageBicycle.initialize({
      currentUserId: <%= current_user.id %>,
      $rootEl: $('.root-el')
    });
  });
</script>
