<nav class='header group'>
  <a href="#/users/<%= current_user.id %>">
    <button class="logo-button">
      Village Bicycle
    </button>
  </a>

  <form action="<%= sessions_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <button class="nav-button">Log Out</button>
  </form>

  <a href="#/users/<%= current_user.id %>">
    <button class="nav-button">
      Home
    </button>
  </a>

  <a href="#/bikes/search">
    <button class="nav-button">
      Search
    </button>
  </a>
</nav>

<section class="root-el">

</section>

<script type="text/template" id='start-date-input'>
  <label>Rental Start <br>
  <%= datetime_select(:query, :start_date,
                      discard_year: true,
                      discard_hour: true,
                      prompt: {month: "Start Date", day: ""}) %>
  </label>
</script>

<script type="text/template" id='end-date-input'>
  <label>Rental End <br>
  <%= datetime_select(:query, :end_date,
                      discard_year: true,
                      discard_hour: true,
                      prompt: { month: "End Date", day: "" }) %>
  </label>
</script>

<script charset="utf-8">
  $(document).ready(function(){
    VillageBicycle.initialize({
      currentUserId: <%= current_user.id %>,
      $rootEl: $('.root-el')
    });
  });
</script>
