<button id="bike-search">Bike Search</button>

<section class="profile-info group">
  <% if (bike.escape('owner_id') == VillageBicycle.currentUserId) { %>
    <button class="delete-model">Delete</button>

      <button class="edit-page">Edit</button>
  <% } %>
  <img class="profile-picture"
       src="<%= bike.escape('image_url_medium') %>"
       alt="Profile Picture" >

  <article class="profile-info-text">
    <h1><%= bike.escape('name') %> the <%= bike.escape('type') %></h1>
    <h2>
      <a href="javascript:void(0)" id="owner-link">
        Owned by <%= bike.escape('owner_name') %>
      </a>
    </h2>
    <p>
      <%= bike.escape('notes') %>
    </p>

    <h3>Specs</h3>
    <ul>
      <li> Designed for <%= bike.escape('gender').slice(0,-3) %> </li>
      <li> Number of Gears: <%= bike.escape('num_gears') %> </li>
      <li> Suggested height: <%= bike.size().suggested_height %></li>
    </ul>
    <% if (bike.escape('extras').length > 0) { %>
      <h3>Comes with</h3>
      <ul class="extras-list group">
        <% bike.get('extras').forEach(function (extra) { %>
          <li><%= extra.name %></li>
        <% }); %>
      </ul>
    <% } %>
  </article>

</section>


<section class="rental-info group">

  <h2>Find <%= bike.escape('name') %> in <%= bike.escape('neighborhood') %>
      (<%= bike.escape('address') %>)</h2>
  <figure id="map-view">
  </figure>

  <ul class="price-list group">
    <li>$<%= bike.escape('hourly_price') %>/hour</li>
    <li>$<%= bike.escape('hourly_price') * 7 %>/day</li>
    <li>$<%= bike.escape('hourly_price') * 30 %>/week</li>
  </ul>
</section>
