<section class="profile-info group">
  <% if (user.id == VillageBicycle.currentUserId) { %>
    <button class="edit-page">Edit</button>
  <% } %>
  <img class='profile-picture'
       src="<%= user.get('image_url_medium') %>"
       alt="Profile Picture" >

  <h1><strong><%= user.escape('name') %></strong></h1>

  <span class='biking-around'>Biking Around <strong><%= user.escape('neighborhood') %></strong></span>

  <p class='user-bio'>
    <%= user.escape('bio') %>
  </p>
</section>

<section id="bike-list" class="subview-list group">
  <% if (user.id == VillageBicycle.currentUserId) { %>
    <% if (!user.escape('address')) { %>
      <em>If you'd like to add a bike, please make sure to
          update your address first! </em>
    <% } else { %>
        <button id="add-bike">Add Bike</button>
    <% } %>
  <% } %>
  <h2>
    <strong>
      <% if (user.id == VillageBicycle.currentUserId) { %>
        <%= "My" %>
      <% } %> Bikes
    </strong>
  </h2>
</section>

<% if (user.id == VillageBicycle.currentUserId) { %>
  <section id="pending-requests-list" class="subview-list group">
    <h2>
      <strong>
        Requests for my Bikes
      </strong>
    </h2>
  </section>

  <section id="approved-requests-list" class="subview-list group">
    <h2>
      <strong>
        Confirmed Reservations for my Bikes
      </strong>
    </h2>
  </section>

  <section id="requests-made-list" class="subview-list group">
    <h2>
      <strong>
        Requests I've Made
      </strong>
    </h2>
  </section>

  <section id="confirmed-requests-list" class="subview-list group">
    <h2>
      <strong>
        My Confirmed Reservtions
      </strong>
    </h2>
  </section>
<% } %>
