<section class="profile-info group">
  <% if (user.id == VillageBicycle.currentUserId) { %>
    <button class="edit-page">Edit</button>
  <% } %>
  <img class='profile-picture'
       src="<%= user.get('image_url_medium') %>"
       alt="Profile Picture" >

  <h1><strong><%= user.escape('name') %></strong></h1>

  Biking Around <strong><%= user.escape('neighborhood') %></strong>

  <p>
    <%= user.escape('bio') %>
  </p>
</section>

<section id="bike-list" class="subview-list group">
  <% if (user.id == VillageBicycle.currentUserId) { %>
    <% if (!user.escape('address')) { %>
      <em>If you'd like to add a bike, please make sure to
          update your address first! </em>
    <% } else { %>
        <button id="add-bike">Add Bike</button>
    <% } %>
  <% } %>
  <h2>
    <strong>
      <% if (user.id == VillageBicycle.currentUserId) { %>
        <%= "My" %>
      <% } %> Bikes
    </strong>
  </h2>
</section>
