<section class="modal">

</section>

<section class="modal-form">
<button class='x-out'>&#10005;</button>
<h1> <%= user.escape('name') %> </h1>
  <form action="#" method="post" enctype='multipart/formdata'>

    <section class='user-basic-info'>
      <label for="user_fname">First Name</label>
      <input type="text"
             id="user_fname"
             name="fname"
             value="<%= user.escape('fname') %>">

      <label for="user_lname">Last Name</label>
      <input type="text"
            id="user_lname"
            name="lname"
            value="<%= user.escape('lname') %>">

      <label for="user_email">Email</label>
      <input type="text"
             id="user_email"
             name="email"
             value="<%= user.escape('email') %>">

       <label for="user-size">Size</label>
       <select id="user-size" name="size_id">
         <option>Select</option>
         <% VillageBicycle.Sets.get('sizes').forEach( function (size) {%>
           <option value='<%= size.id %>'
             <% if (size.id == user.escape('size_id')) { %>
               <%= 'selected' %>
             <% } %>>
             <%= size.size %> - <%= size.suggested_height %>
           </option>
         <% }); %>
       </select>
    </section>

    <figure class="user-profile-info">
      <label for="user-bio">Tell us about yourself</label>
      <textarea name="bio"
                id="user_bio"
                rows="8"
                cols="40"><%= user.escape('bio') %></textarea>

      <label for="user-picture">Profile Picture</label>
      <input type="file" name="picture" id="user-picture" value="">

    </figure>

    <section class="address-info">
      <label for="user-neighborhood">Neighborhood</label>
      <select id="user-neighborhood" name="neighborhood_id">
        <option>Select</option>
        <% VillageBicycle.Sets.get('neighborhoods').forEach( function (hood) {%>
          <option value='<%= hood.id %>'
            <% if (hood.id == user.escape('neighborhood_id')) { %>
              <%= 'selected' %>
            <% } %>>
            <%= hood.name %>
          </option>
        <% }); %>
      </select>

      <label for="user-address">Street Address</label>
      <input type="text"
             name="address"
             id="user-address"
             value="<%= user.escape('address') %>"
             cols="1">
    </section>

    <button>Submit</button>
  </form>
</section>
