<% action = @user.persisted? ? user_url(@user.id) : users_url %>

<form action="<%= action %>"
      method="post"
      enctype='multipart/form-data'
      class='new-session-form'  >

  <h1>New User</h1>

  <%= auth_token %>

  <% if @user.persisted? %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <input type="hidden" name="user[provider]" value="<%= @provider %>">
  <input type="hidden" name="user[uid]" value="<%= @uid %>">

  <label for="user_fname">First Name</label>
  <input type="text"
         id="user_fname"
         name="user[fname]"
         value="<%= @user.fname %>">

  <label for="user_lname">Last Name</label>
  <input type="text"
        id="user_lname"
        name="user[lname]"
        value="<%= @user.lname %>">
  <label for="user_email">Email</label>
  <input type="text"
         id="user_email"
         name="user[email]"
         value="<%= @user.email %>">

  <label for="user_password">Password</label>
  <input type="password"
         id="user_password"
         name="user[password]"
         value="">
  <label for="user_confirm_password">Confirm Password</label>
  <input type="password"
         id="password_confirmation"
         name="user[password_confirmation]"
         value="">
  <br>
  <button>Submit</button>
</form>
