<form action="<%= users_url %>" method="post">
  <%= auth_token %>


  <label for="user_fname">First Name</label>
  <input type="text"
         id="user_fname"
         name="user[fname]"
         value="<%= @user.fname %>">

  <label for="user_lname">Last Name</label>
  <input type="text"
        id="user_lname"
        name="user[lname]"
        value="<%= @user.lname %>">

  <label for="user_email">Email</label>
  <input type="text"
         id="user_email"
         name="user[email]"
         value="<%= @user.email %>">
  <br>
  <label for="user_password">Password</label>
  <input type="password"
         id="user_password"
         name="user[password]"
         value="">
  <br>
  <label for="user_confirm_password">Confirm Password</label>
  <input type="password"
         id="user_confirm_password"
         name="user[confirm_password]"
         value="">
  <br><br>
  <button>Submit</button>
</form>
