<% if @user == current_user %>
  <form action="<%= edit_user_url(@user) %>" method="get">
    <button>Edit Profile</button>
  </form>
<% end %>
<form action="<%= search_bikes_url %>" method="get">
  <button>Bike Search</button>
</form>

<h1><%= @user.fname %> <%= @user.lname[0] %></h1>

<img src="<%= image_url(@user.picture.url(:medium)) %>" alt="Profile Picture" />

<strong><%= @user.neighborhood.name unless @user.neighborhood.nil? %></strong>

<p>
  <%= @user.bio %>
</p>

<section>
  <h2><%= "My" if @user == current_user %> Bikes</h2>
  <% if @user == current_user %>
    <% if @user.address.blank? %>
      <em>If you'd like to add a bike, please make sure to
          update your address first! </em>
    <% else %>
      <form action="<%= new_bike_url %>" method="get">
        <button>Add Bike</button>
      </form>
    <% end %>
  <% end %>

  <ul>
    <% @bikes.each do |bike| %>
      <a href="<%= bike_url(bike) %>">
        <li><%= bike.name %> the <%= bike.category.name %> -
            $<%= bike.hourly_price %>/hour </li>
      </a>
    <% end %>
  </ul>
</section>
<% if @user == current_user %>

<section>
  <h2>Requests for my bikes</h2>
  <% unless @bikes.any? %>
  <em>You don't have any owned bikes listed! Add a bike to share with your city</em>
  <% else %>
    <ul>
      <% @pending_requests.each do |request| %>
        <li>
          <em><a href="<%=user_url(request.requestor) %>"><%= request.requestor.name %>'s</a>
          request for
          <a href="<%= bike_url(request.bike) %>"><%= request.bike.name %></a></em>
          <br>
          From: <%= request.start.to_formatted_s(:long_ordinal) %>
          <br>
          To: <%= request.end.to_formatted_s(:long_ordinal) %>
          <form action="<%= approve_request_url(request) %>" method="post">
            <%= auth_token %>
            <button>Approve</button>
          </form>
          <form action="<%= reject_request_url(request) %>" method="post">
            <%= auth_token %>
            <button>Reject</button>
          </form>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>

<section>
  <h2>Confirmed Reservations for my bikes</h2>
  <%= list_requests(@approved_requests) %>
</section>

<section>
  <h2>Requests I've Made</h2>
    <%= list_requests(@requests_made) %>
</section>

<section>
  <h2>My confirmed reservations</h2>
    <%= list_requests(@reservations) %>
</section>
<% end %>
