<% if @user == current_user %>
  <form action="<%= edit_user_url(@user) %>" method="get">
    <button>Edit Profile</button>
  </form>
<% end %>
<form action="<%= search_bikes_url %>" method="get">
  <button>Bike Search</button>
</form>

<h1><%= @user.fname %> <%= @user.lname[0] %></h1>

<img src="<%= @user.picture.url(:medium) %>" alt="Profile Picture" />

<strong><%= @user.neighborhood.name unless @user.neighborhood.nil? %></strong>

<p>
  <%= @user.bio %>
</p>

<section>
  <h2>Owned Bikes</h2>
  <% if @user == current_user %>
    <% if @user.address.blank? %>
      <em>If you'd like to add a bike, please make sure to
          update your address first! </em>
    <% else %>
      <form action="<%= new_bike_url %>" method="get">
        <button>Add Bike</button>
      </form>
    <% end %>
  <% end %>


  <ul>
    <% @bikes.each do |bike| %>
      <a href="<%= bike_url(bike) %>">
        <li><%= bike.name %> the <%= bike.category.name %> -
            $<%= bike.hourly_price %>/hour </li>
      </a>
    <% end %>
  </ul>
</section>

<section>
  <h2>Requests Made</h2>
  <ul>
    <% @requests_made.each do |request| %>
      <li>
        <em>Requested
          <a href="<%= bike_url(request.bike) %>"><%= request.bike.name %></a>
          from
          <a href="<%= user_url(request.bike.owner) %>"><%= request.bike.owner_name %></a></em>
        <br>
        Start: <%= request.start.to_formatted_s(:long_ordinal) %>
        <br>
        End: <%= request.end.to_formatted_s(:long_ordinal) %>
      </li>
    <% end %>
  </ul>
</section>
