<% if @user == current_user %>
  <form action="<%= edit_user_url(@user) %>" method="get">
    <button>Edit Profile</button>
  </form>
<% end %>
<h1><%= @user.fname %> <%= @user.lname[0] %></h1>
<strong><%= @user.neighborhood.name %></strong>
<p>
  <%= @user.bio %>
</p>
