<% if @user == current_user %>
  <form action="<%= edit_user_url(@user) %>" method="get">
    <button>Edit Profile</button>
  </form>
<% end %>

<h1><%= @user.fname %> <%= @user.lname[0] %></h1>

<strong><%= @user.neighborhood.name unless @user.neighborhood.nil? %></strong>

<p>
  <%= @user.bio %>
</p>

<section>
  <h2>Owned Bikes</h2>
  <% if @user == current_user %>
    <% if @user.address.blank? %>
      <em>If you'd like to add a bike, please make sure to
          update your address first! </em>
    <% else %>
      <form action="<%= new_bike_url %>" method="get">
        <button>Add Bike</button>
      </form>
    <% end %>
  <% end %>


  <ul>
    <% @bikes.each do |bike| %>
      <a href="<%= bike_url(bike) %>">
        <li><%= bike.name %> the <%= bike.category.name %> -
            $<%= bike.hourly_price %>/hour </li>
      </a>
    <% end %>
  </ul>
</section>
