<% if (request.get('bike_id')) { %>

<% var requestor, owner; %>
<% if (request.escape('requestor_id') == VillageBicycle.currentUserId) { %>
  <% requestor = "You"; %>
  <% owner = request.escape('bike_owner') %>
<% } else { %>
  <% requestor = request.escape('requestor_name') %>
  <% owner = "You" %>
<% } %>
<img class="profile-thumb"
     src="<%= request.escape('image_url_thumb') %>"
     alt="Profile Thumbnail" >

<ul class="more-info">
  <li>
    <a href="#/users/<%= request.escape('requestor_id') %>">
      <%= requestor %>
    </a>
      would like to rent
    <a href="#/bikes/<%= request.escape('bike_id')%>">
      <%= request.escape('bike_name') %> the
      <%= VillageBicycle.Sets.grab("categories", request.get('bike_cat_id')).name %>
    </a>
  </li>
  <li>
    <a href="#/users/<%= request.escape('bike_owner_id') %>">
      Owned by <%= owner %>
    </a>
  </li>
  <% if (request.get('start') && request.get('end')) { %>
    <li>
      Rental will begin on <%= request.get('start').toDateString() %>
      at <%= request.formattedTimeString('start') %>
    </li>
    <li>
      Bike must be returned on or before <%= request.get('end').toDateString() %>
      at <%= request.formattedTimeString('end') %>
    </li>
  <% } %>
</ul>



  <% if (!request.escape('approved') && owner === "You") { %>
    <section class="request-li-buttons group">
      <button id='approve-button'>Approve</button>
      <button id='reject-button'>Decline</button>
    </section>
  <% } else if (!request.escape('approved')) { %>
    <section class="request-li-buttons group">
      <button id='edit-request'>Edit</button>
    </section>
  <% } %>
<% } %>
