<% var requestor, owner; %>
<% if (request.escape('requestor_id') == VillageBicycle.currentUserId) { %>
  <% requestor = "You"; %>
  <% owner = request.escape('bike_owner') %>
<% } else { %>
  <% requestor = request.escape('requestor_name') %>
  <% owner = "You" %>
<% } %>

<img class="profile-thumb"
     src="<%= request.escape('image_url_thumb') %>"
     alt="Profile Thumbnail" >

<ul class="more-info">
  <li>
    <a href="#/users/<%= request.escape('requestor_id') %>">
      <%= requestor %>
    </a>
      would like to rent
    <a href="#/bikes/<%= request.escape('bike_id')%>">
      <%= request.escape('bike_name') %> the
      <%= request.escape('bike_type') %>
    </a>
  </li>
  <li>
    <a href="#/users/<%= request.escape('bike_owner_id') %>">
      Owned by <%= owner %>
    </a>
  </li>
  <li>Rental will begin on <%= request.escape('start') %> </li>
  <li>Bike must be returned on or before <%= request.escape('end') %></li>
</ul>

<% if (!request.escape('approved') && owner === "You") { %>
  <section class="approve-reject-buttons">
    <button id='reject-button'>Decline</button>
    <button id='approve-button'>Approve</button>
  </section>
<% } %>
