<section class="modal">

</section>
<% if (start) { %>
  <% var startHour = start.getUTCHours() > 12 ? start.getUTCHours() - 12 : start.getUTCHours(); %>
  <% var startMinutes = start.getMinutes(); %>
  <% var sAMPM = start.getUTCHours() > 12 ? "PM" : "AM" %>
<% } %>

<% if (end) { %>
  <% var endHour = end.getUTCHours() > 12 ? end.getUTCHours() - 12 : end.getUTCHours(); %>
  <% var endMinutes = end.getMinutes(); %>
  <% var eAMPM = end.getUTCHours() > 12 ? "PM"  : "AM" %>
<% } %>

<section class="modal-form request-modal">
  <button class='x-out'>&#10005;</button>
  <h1> Bike Request </h1>
  <form action="#" method="#">
    <input type="hidden"
           name="request[bike_id]"
           value="<%= request.escape('bike_id') %>">

    <section class='request-start-fields'>
      <h3>From</h3>
      <input type="text" id="request-start-date" name="request[start_date]">

      <select class="" name="request[start_hour]">
        <option>Hour</option>
        <% _.range(1, 13).forEach(function (hour) { %>
          <option value="<%= hour %>"
            <% if (hour === startHour) { %>
              <%= "selected"  %>
            <% } %>>
              <%= hour %>
          </option>
        <% }) %>
      </select>

      <select class="" name="request[start_min]">
        <option>Min</option>
        <% ['00', '15', '30', '45'].forEach(function (min) { %>
          <option value="<%= parseInt(min) %>"
            <% if (parseInt(min) === startMinutes) { %>
              <%= "selected" %>
            <%  } %>>
            <%= min %>
          </option>
        <% }) %>
      </select>

      <label for="AM">AM</label>
      <input type="radio" name="request[start_ampm]" id="AM" value="AM"
      <% if (sAMPM === "AM") {%> <%= "checked" %> <% } %>>
      <label for="PM">PM</label>
      <input type="radio" name="request[start_ampm]" id="PM" value="PM"
      <% if (sAMPM === "PM") {%> <%= "checked" %> <% } %>>
    </section>


    <section class='request-end-fields'>
      <h3>To</h3>
      <input type="text" id="request-end-date" name="request[end_date]">

      <select class="" name="request[end_hour]">
        <option>Hour</option>
        <% _.range(1, 13).forEach(function (hour) { %>
          <option value="<%= hour %>"
            <% if (hour === endHour) { %>
              <%= "selected" %>
            <% } %>>
            <%= hour %>
          </option>
        <% }) %>
      </select>


      <select class="" name="request[end_min]">
        <option>Min</option>
        <% ['00', '15', '30', '45'].forEach(function (min) { %>
          <option value="<%= parseInt(min) %>"
            <% if (parseInt(min) === endMinutes) { %>
              <%= "selected" %>
            <%  } %>>
            <%= min %>
          </option>
        <% }) %>
      </select>

      <label for="AM">AM</label>
      <input type="radio" name="request[end_ampm]" id="AM" value="AM"
      <% if (eAMPM === "AM") {%> <%= "checked" %> <% } %>>
      <label for="PM">PM</label>
      <input type="radio" name="request[end_ampm]" id="PM" value="PM"
      <% if (eAMPM === "PM") {%> <%= "checked" %> <% } %>>
    </section>



      <button>Submit</button>
      <% if (request.id) { %>
        <button id="delete-request">Cancel Request</button>
      <% } %>
    </section>

  </form>
</section>
