<br>
<form action="<%= search_bikes_url %>" method="get">
  <label for="query-category">Category</label>
  <select id="query-category" name="query[bike][category_id]">
    <option value="">Select</option>
    <% @categories.each do |cat| %>
      <option value='<%= cat.id %>'>
        <%= cat.name %>
      </option>
    <% end %>
  </select>
  <br><br>
  <label for="query-neighborhood">Neighborhood</label>
  <select id="query-neighborhood" name="query[owner][neighborhood_id]">
    <option value="">Select</option>
    <% @neighborhoods.each do |neighborhood| %>
      <option value='<%= neighborhood.id %>'><%= neighborhood.name %></option>
    <% end %>
  </select>

  <br><br>
  <input type="hidden" name="query[year]" value="2015">
  <label>Rental Start <br>
  <%= datetime_select(:query, :start_date,
                      discard_year: true,
                      discard_hour: true,
                      prompt: {month: "Start Date", day: ""}) %>
  </label>

  <br><br>

  <label>Rental End <br>
  <%= datetime_select(:query, :end_date,
                      discard_year: true,
                      discard_hour: true,
                      prompt: { month: "End Date", day: "" }) %>
  </label>

  <br><br>

  <input type="radio" name="query[bike][gender]"
                      id="Men's"
                      value="Men's">
  <label for="Men's">Men's</label>
  <input type="radio" name="query[bike][gender]"
                      id="Women's"
                      value="Women's">
  <label for="Women's">Women's</label>
  <br><br>
  <% @sizes.each do |size| %>
    <input type="radio" name="query[bike][size_id]"
                        id='size-<%= size.id %>'
                        value="<%= size.id %>">
    <label for='size-<%= size.id %>'>
      <%= size.size %> - Suggested height: <%= size.suggested_height %>
    </label>
    <br>
  <% end %>
  <br>
  <button>Submit</button>
</form>

<% if @bikes.any? %>
<section class="subview-list">
  <ul>
    <% @bikes.each do |bike| %>
      <li class="subview-list-li"><a href="<%= bike_url(bike) %> "><%= bike.name %> - <%= bike.type %></a> -
        $<%= bike.hourly_price %>/hour<br>
        Owned by <a href="<%= user_url(bike.owner) %>"><%= bike.owner_name %></a>
      </li>
    <% end %>
  </ul>
</section>
<% end %>
