<h1><%= @bike.name %> the <%= @bike.category.name %></h1>

<% if @bike.owner == current_user %>
  <form action="<%= edit_bike_url(@bike) %>" method="get">
    <button>Edit Bike</button>
  </form>

  <form action="<%= bike_url(@bike) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <button>Delete Bike</button>
  </form>
<% end %>
<img src="<%= @bike.picture.url(:medium) %>" alt="Profile Picture" />
<a href="<%= user_url(@bike.owner) %>">Owned by <%= @bike.owner_name %></a>

<section>
  <%= @bike.notes %>
</section>

<ul>
  <li> Number of Gears:<%= @bike.num_gears %> </li>
  <li> Suggested height: <%= @bike.size.suggested_height %></li>
</ul>

<% @bike.extras.each do |extra| %>
  <li><%= extra.name %></li>
<% end %>

<ul>
  <li>$<%= @bike.hourly_price %>/hour</li>
  <li>$<%= @bike.hourly_price * 7 %>/day</li>
  <li>$<%= @bike.hourly_price * 30 %>/week</li>
</ul>

<section>
  Location: <%= @bike.neighborhood %><br>
  <iframe
  width="400"
  height="250"
  frameborder="0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBiao2WMw8sjrDYPOejBbLnuRWrMh6wOvg
    &q=<%= "#{@bike.owner.address} #{@bike.neighborhood}" %>">
</iframe>
</section>

<section>
  <h2>Request This Bike</h2>
  <form action="<%= requests_url %>" method="post">
    <%= auth_token %>

    <input type="hidden" name="request[bike_id]" value="<%= @bike.id %>">

    <label for="start-date">Start Date</label>
    <input type="date" name="request[start_date]" id="start-date">
    <select name="request[start_time]">
      <option val="">Pick up time</option>
        <%= time_dropdown %>
    </select>

    <br>

    <label for="end-date">End Date</label>
    <input type="date" name="request[end_date]" id="end-date">
    <select name="request[end_time]">
      <option val="">Drop off time</option>
        <%= time_dropdown %>
    </select>
    <br>
    <button>Request me!</button>
  </form>
</section>
