<!DOCTYPE html>
<html>
<head>
  <title>The Village Bicycle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <form action="<%= user_url(current_user) %>" method="get">
    <button>Home</button>
  </form>
<%= log_out_button %>
<% end %>
<%= flash[:notice] if flash[:notice] %>
<%= yield %>

</body>
</html>
